@import "./Colors.scss";

.layout {
  flex-direction: column !important;
}

.container {
  min-height: 100vh !important;
  width: 100% !important;
  background: $background-color;
}

.content {
  padding: 24px 15%;
  background-color: $background-color;
  height: inherit;
}

@media screen and (max-width: 1180px) {
  .content {
    padding: 24px 5% !important;
  }
}