@import "./Colors.scss";

.layout {
  flex-direction: column !important;
}

.container {
  height: calc(100vh - 50px); // 64px=header
  width: 100% !important;
}

.content {
  width: 50%;
  margin: 0 auto;
  padding: 18px;
  background-color: $background-color;
  flex-direction: row !important;
  height: inherit;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }

  .container {
    height: 100vh;
  }
}
