@import "./Colors.scss";

.footer {
  background-color: $background-color;
  border-top: 1px solid $border-color;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-icon {
  color: black;
  font-size: 18px;
}

.fa-icon:hover {
  color: inherit;
}

.copyright {
  font-size: 14px;
}

.stats-link {
  font-size: 16px;
}

@media screen and (max-width: 1180px) {
  .fa-icon,
  .copyright,
  .stats-link {
    font-size: 14px;
  }
}
