@import "./Colors.scss";

.form {
    width: 80%;
    resize: none;
}

.password {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .form {
        width: 100%;
    }
    .password {
        width: 80%;
    }
}
