@import "./Colors.scss";

.navbar {
    border-bottom: 1px solid $border-color;
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
}

.fa-icon {
    font-size: 18px;
    color: black;
    margin-left: 36px;
    width: fit-content;
}

.fa-icon:hover {
    color: inherit;
}

.right-content {
    display: flex;
    width: 130px;
    justify-content: space-evenly;
}