@import "./Colors.scss";

.navbar {
    border-bottom: 1px solid $border-color;
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
}

.fa-icon {
    font-size: 22px;
    color: black;
    margin-top: 18px;
}

.fa-icon:hover {
    color: inherit;
}

.right-content {
    display: flex;
    width: 10%;
    justify-content: space-between
}

@media screen and (max-width: 1180px) {
    .right-content {
        width: 25%;
    }

    .navbar {
        padding: 0 5%;
    }
}

// @media screen and (max-width: 653px) {
//     .fa-icon {
//         padding-left: 10px;
//     }

//     .header {
//         font-size: 16px !important;
//     }

//     .navbar {
//         padding: 0 20px;
//     }

//     .text {
//         font-size: 12px !important;
//     }
// }