@import "./Colors.scss";

.textbox {
  resize: none;
}

.url-box {
  width: 40% !important;
}

.textbox:disabled,
.url-box:disabled {
  background-color: $background-color;
  color: black;
  cursor: default;
}

.url-group {
  margin-top: 40px;
}

.create-date {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-style: italic;
}

@media screen and (max-width: 1180px) {
  .url-box {
    width: 70% !important;
  }
}

